@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  /* The image used */
  background-image: url(/images/background-img.jpg);

  /* Set a specific height */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-pink {
  color: #dd00ff;
  letter-spacing: 4px;
  font-weight: 400;
}

.text-gray {
  color: #85808d;
}

.myName {
  font-size: 100px;
  font-weight: 700;
}

.stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.list-group-item {
  border-radius: 30px !important;
  background-color: transparent;
  color: white !important;
  border: 2px solid white;
  border-top-width: 2px !important;
  font-weight: 400;
}

.list-group-item:hover {
  background-color: transparent;
  scale: 1.1;
}

.list-group-item:focus {
  background-color: transparent;
}

.list-group-item.active {
  background-color: #dd00ff;
  box-shadow: 0 0 20px #1c0045, 0 0 40px #330478;
  border-color: transparent !important;
}

.about-me-text {
  /* letter-spacing: 1px; */
  font-weight: 300;
  line-height: 35px;
  font-size: 20px;
  margin-bottom: 50px;
}

.download-cv {
  max-width: fit-content;
  padding: 15px 30px;
  margin-top: 50px;
  letter-spacing: 1px;
  background-color: #dd00ff;
  border-radius: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0 20px #1c0045, 0 0 40px #330478;
}

.download-cv:hover {
  box-shadow: 0 0 30px #1c0045, 0 0 40px #330478, 0 0 60px #330478;
  color: white;
  scale: 1.05;
}

.right-side {
  position: fixed;
  right: 0%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.social-icons {
  position: fixed;
  bottom: 60%;
}

.social-icons > a {
  color: #85808d;
}

.social-icons > a:hover {
  color: white;
}

.scroll-text {
  position: fixed;
  transform: rotate(-90deg);
  bottom: 18%;
  color: #85808d;
  letter-spacing: 3px;
}

.scroll-text > .line-bar {
  width: 3rem;
  height: 2px;
  background-color: #dd00ff;
}

.page-nav {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  padding: 8px 0;
}

.page-nav:hover {
  /* box-sizing: border-box; */
  background-color: #dd00ff;
  border-radius: 45px;
  /* margin-right: 30px; */
  color: white;
  box-shadow: 0 0 50px #1c0045, 0 0 40px #330478;
}

.offcanvas {
  background-color: #070014;
}

.page-title-skill,
.page-title-project,
.page-title-contact {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 100px;
}

.page-title-skill::after {
  content: "";
  display: block;
  width: 33.5rem;
  height: 3px;
  background-color: #dd00ff;
}

.page-title-project::after {
  content: "";
  display: block;
  width: 46.5rem;
  height: 3px;
  background-color: #dd00ff;
}

.page-title-contact::after {
  content: "";
  display: block;
  width: 44.5rem;
  height: 3px;
  background-color: #dd00ff;
}

.skill-icon {
  font-size: 40px;
  margin-bottom: 50px;
}

.project-wrapper {
  margin-bottom: 200px;
}

.project-title {
  font-weight: 400;
  text-transform: uppercase;
  font-weight: bold;
}

.tech-used-icons {
  font-size: 20px;
  position: relative;
}

.icon-name {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 20px 10px;
  position: absolute;
  z-index: 1;
  font-size: 16px;
  font-weight: 300;
}

.tech-used-icons > .fa-html5:hover .icon-name,
.tech-used-icons > .fa-css3-alt:hover .icon-name,
.tech-used-icons > .fa-square-js:hover .icon-name,
.tech-used-icons > .fa-bootstrap:hover .icon-name,
.tech-used-icons > .fa-react:hover .icon-name,
.tech-used-icons > .fa-laravel:hover .icon-name,
.tech-used-icons > .fa-php:hover .icon-name {
  visibility: visible;
}

.project-info-text {
  font-weight: 400;
  line-height: 35px;
  font-size: 20px;
}

.project-link-buttons {
  display: flex;
}

.project-link-buttons > a,
.form-button {
  padding: 5px 18px;
  letter-spacing: 1px;
  box-sizing: border-box;
  background-color: #dd00ff !important;
  border-radius: 45px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0 15px #1c0045, 0 0 30px #330478;
}

.project-link-buttons > a:hover,
.form-button:hover {
  box-shadow: 0 0 20px #1c0045, 0 0 35px #330478, 0 0 45px #330478;
  scale: 1.05;
}

.project-img {
  width: 100%;
}

.contact-info {
  font-weight: 400;
  font-size: 20px;
}

.contact-info > li > a:hover {
  text-decoration: underline !important;
}

@media (max-width: 1020px) {
  .page-title-skill,
  .page-title-project,
  .myName {
    font-size: 60px;
  }

  .page-title-contact {
    font-size: 60px;
  }

  .page-title-skill::after,
  .page-title-project::after,
  .page-title-contact::after {
    width: 100%;
  }
}

@media (max-width: 830px) {
  .list-group-item {
    padding: 5px 0 !important;
  }

  .list-group-item.active {
    box-shadow: 0 0 10px #1c0045, 0 0 15px #330478;
  }

  .about-me-text,
  .project-info-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8rem;
  }

  .download-cv {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 15px;
  }
  .scroll-text {
    bottom: 23%;
  }
  .scroll-text > h6 {
    font-size: 12px;
  }

  .page-title-skill,
  .page-title-project,
  .myName {
    font-size: 50px;
  }

  .page-title-contact {
    font-size: 45px;
  }

  .page-title-skill,
  .page-title-project,
  .page-title-contact {
    margin-bottom: 50px;
  }

  .tech-used-icons {
    font-size: 16px;
    margin-top: 0.8rem;
  }

  .project-wrapper {
    margin-bottom: 150px;
  }

  .project-link-buttons > a {
    padding: 4px 15px;
    letter-spacing: 1.5px;
    margin-right: 20px;
    font-size: 14px;
  }

  .contact-info {
    font-weight: 400;
    font-size: 16px;
  }
}
